/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background: rgb(4,63,165); /* Old browsers */
    background: -moz-linear-gradient(left,  rgb(4,63,165) 0%, rgb(5,170,215) 45%, rgb(5,170,215) 50%, rgb(5,170,215) 55%, rgb(4,63,165) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(4,63,165)), color-stop(45%,rgb(5,170,215)), color-stop(50%,rgb(5,170,215)), color-stop(55%,rgb(5,170,215)), color-stop(100%,rgb(4,63,165))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgb(4,63,165) 0%,rgb(5,170,215) 45%,rgb(5,170,215) 50%,rgb(5,170,215) 55%,rgb(4,63,165) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgb(4,63,165) 0%,rgb(5,170,215) 45%,rgb(5,170,215) 50%,rgb(5,170,215) 55%,rgb(4,63,165) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgb(4,63,165) 0%,rgb(5,170,215) 45%,rgb(5,170,215) 50%,rgb(5,170,215) 55%,rgb(4,63,165) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgb(4,63,165) 0%,rgb(5,170,215) 45%,rgb(5,170,215) 50%,rgb(5,170,215) 55%,rgb(4,63,165) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#043fa5', endColorstr='#043fa5',GradientType=1 ); /* IE6-9 */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.HomeHeader 
{
    margin-top:20px;
    background-color: white;
    text-align:center;
}

.HomeButtons 
{
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.Field 
{
    float:left;
    margin-right:10px;
    margin-top:5px;
}


/*Desktop*/
@media only screen and (min-width: 940px)
{

}

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 939px)
{

}

/*Handheld Land*/
@media only screen and (min-width: 480px) and (max-width: 767px)
{

}

/*Handheld Port*/
@media only screen and (max-width: 479px) 
{

}